*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Keystore & Signing Secrets
*.jks
*.keystore
keystore.properties
signing.properties
secret.properties
google-services.json
*.log

